imutils==0.5.3
numpy
streamlit
#//Pillow==8.3.0
opencv-python-headless==4.6.0.66
streamlit-webrtc~=0.45.0
twilio~=8.1.0
streamlit-session-memo~=0.3.1
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
